* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html{
    font-size: 10px;
    scroll-behavior: smooth
}

body{
    overflow-x: hidden;
}

.header-main{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: fit-content;
    background: none;
    display: flex;
    justify-content: space-between;
    font-family: 'Rajdhani', sans-serif;
    background-color: rgba(00, 00, 00, 0.4);
}

.header-main .title{
    color: white;
    font-size: 2.5rem;
    margin: 2.5rem 12rem;
    font-weight: 700;
    text-shadow: 0 0 20px;
}

.header-main .title{
    text-decoration: none;
    color: rgb(255, 182, 46);
}

.header-main .title:hover{
    color: darkorange;
}

.header-main ul{
    display: flex;
    margin: 2.5rem 5rem;
}

.header-main ul li{
    list-style: none;
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 1rem;
}

.header-main ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    text-shadow: 0 0 20px;
}

.header-main a:hover{
    color: pink;
}

/*----------Scetion One----------*/

section{
    width: 100%;
    min-height: 100vh;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

.se-1{
    background-image: url("images/se1/House.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
}

.image-card{
    display: flex;
    justify-content: center;
}

.image-card img{
    width: 120px;
    height: 120px;
    outline: none;
    border-radius: 50%;
}

.info{
    color: white;
    margin-top: 10px;
    width: 300px;
    min-height: 300px;
}

.info strong{
    display: flex;
    justify-content: center;
    font-size: 2.3rem;
    margin-bottom: 5rem;
}

.info p{
   display: flex;
   justify-content: left;
   font-size: 1.9rem;
   margin-bottom: 12px;
}

.info ul{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}

.info ul li{
    list-style: none;
    margin-right: 30px;
}

.info ul li a{
    text-decoration: none;
    color: white;
}

.info ul li a i{
    font-size: 2.5rem;
}

.youtube-icon:hover{
    color: rgb(219, 0, 0);
}

.facebook-icon:hover{
    color: rgb(0, 0, 255);
}


.containor-cards{
    position: relative;
    width: 400px;
    height: fit-content;
    margin: auto;
    transform-style: preserve-3d;
    transition: 0.4s;
    background-color: red;
}

.card-back{
    outline: none;
    padding: 0;
    overflow: hidden;
    transform: rotateY(180deg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
} 

.card-back.s1{
    background-image: url("images/se1/card-back-naruto.jpg");
}

.both-card{
    width: 40rem;
    height: 40rem;
    background-color: rgba(00, 00, 00, 0.4);
    outline: none;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.containor-cards:hover{
    transform: rotateY(-180deg);
}

.follow{
    width: fit-content;
    min-height: fit-content;
    background-color: rgba(00, 00, 00, 0.6);
    padding: 10px;
    border-radius: 10px;
    margin: 20% 5%;
}

.follow p{
    color: white;
    font-size: 2.5rem;
}

.follow ul{
    display: flex;
    justify-content: center;
}

.follow li{
    list-style: none;
    margin: 10px 10px;
}

.follow ul li a{
    color: white;
    font-size: 2.5rem;
}

::selection{
    background-color: royalblue;
}

/*----------Section Two----------*/

.se-2{
    background-image: url("images/se2/sea.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
}

.card-back.s2{
    background-image: url("images/se2/card-back-kakashi.jpg"); 
} 

.insta-icon:hover{
    color: darkorange;
}

/*----------Section Three----------*/

.se-3{
    background-image: url("images/se3/nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
}

.card-back.s3{
    background-image: url("images/se3/card-back-madara.jpg"); 
} 

.twitter-icon:hover{
    color: royalblue;
}

/*----------Section Four----------*/

.se-4{
    background-image: url("images/se4/spring.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
}

.card-back.s4{
    background-image: url("images/se4/card-back-obito.jpg");
} 

.messenger-icon:hover{
    color: rgb(255, 0, 255);
}

/*----------Section Five----------*/

.se-5{
    background-image: url("images/se5/Maontains.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
}

.card-back.s5{
    background-image: url("images/se5/card-back-hokage.jpg");
} 

/*----------Section Six----------*/

.se-6{
    background-image: url("images/se6/b-nature.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
}

.card-back.s6{
    background-image: url("images/se6/card-back-shkumaru.jpg");
} 

/*----------Footer----------*/

footer.about{
    padding: 10px;
    display: flex;
    align-content: flex-end;
    background-color: rgb(0, 0, 70);
    width: 100vw;
    height: fit-content;
    font-family: 'Rajdhani', sans-serif;
}

footer.about p{
    color: white;
    font-size: 2rem;
    padding: 5px;
    margin-top: 10px;
}

.header-main ul li a span{
    color: rgb(255, 255, 0);
}

.header-main ul li a span:hover{
    color: orange;
}

@media (max-width:540px){

    .header-main{
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
    }

    .header-main .title{
        text-align: center;
        font-size: 15px;
        width: 200px;
        margin: 3% auto;
    }

    .header-main nav ul{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
    }

    .header-main nav ul li a{
        font-size: 10px;
    }

    section{
        width: 100vw;
        overflow: hidden;
    }

    .containor-cards{
        transform: scale(0.7);
        right: 160px;
    }

    .card-back{
        width: 280px;
        height: 300px;
        top: 0px;
        left: 60px;
    }

    .follow{
        margin-top: 350px;
        position: absolute;
        left: 25%;
        transform: scale(0.7);
    }

    .about{
        display: flex;
        justify-content: center;
    }

    .about .info-about p{
        font-size: 12px;
    }
}

@media (width:414px) or (width:412px){
    .containor-cards{
        right: 130px;
    }
}

@media (width:390px) or (width:393px){
    .containor-cards{
        right: 150px;
    }
}

@media (width:360px){
    .containor-cards{
        right: 170px;
    }
}

@media (width:540px){
    .containor-cards{
        right: 80px;
    }

    .follow{
        position: absolute;
        left: 30%;
    }
}

@media (min-width:741px) and (max-width:950px){

    .header-main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-main nav ul{
        margin: 0px auto 20px;
    }

    .containor-cards{
        top: 40px;
        right: 0px;
    }

    .follow{
        position: absolute;
        margin-top: 500px;
        left: 35%;
    }
}

@media (width:280px){

    .header-main{
        width: 107vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-main .title{
        font-size: 12px;
    }

    .header-main nav ul{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .header-main nav ul li a{
        font-size: 8px;
    }

    .header-main .title{
        margin: 10px auto 5px;
    }

    .containor-cards{
        transform: scale(0.6);
        top: -30px;
        left: -197px;
    }

    .card-back{
        width: 240px;
        height: 240px;
        left: 82px;
    }

    .follow{
        margin-top: 260px;
        left: 20%;
    }

    footer.about{
        width: 107vw;
    }
}